<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Overwatch SR Tracker</title>

    <link href="/static/libraries/bootstrap/bootstrap.min.css">

    <script src="/static/libraries/angular/angular.min.js"></script>
    <script src="/static/libraries/d3/d3.js"></script>
    <script src="/static/js/app.js"></script>

    <style>
        body {
            text-align: center;
        }

/* tell the SVG path to be a thin blue line without any area fill */
        path {
            stroke: steelblue;
            stroke-width: 1;
            fill: none;
        }

        .axis {
          shape-rendering: crispEdges;
        }

        .x.axis line {
          stroke: lightgrey;
        }

        .x.axis .minor {
          stroke-opacity: .5;
        }

        .x.axis path {
          display: none;
        }

        .y.axis line, .y.axis path {
          fill: none;
          stroke: #000;
        }
    </style>
</head>
<body ng-app="owsr" ng-controller="mainController">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-1"></div>
            <div class="col-md-8 col-sm-8 col-xs-10">
                <h1>Overwatch SR Tracker</h1>
                <div class="form-group">
                    <label for="userSel">User:</label>
                    <select class="form-control" ng-model="user" id="userSel">
                        <option ng-repeat="user in users" value="{{user}}">{{user}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-1"></div>
        </div>

        <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-1"></div>
            <div class="col-md-8 col-sm-8 col-xs-10">
                <div class="form-group">
                    <label for="typeSel">Type:</label>
                    <select class="form-control" ng-model="gameType" id="typeSel">
                        <option ng-repeat="type in types" value="{{type}}">{{type}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="mapSel">Map:</label>
                    <select class="form-control" ng-model="gameMap" id="mapSel">
                        <option ng-repeat="map in maps[gameType]" value="{{map}}">{{map}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="charSel">Characters:</label>
                    <select class="form-control" multiple ng-model="gameCharacters" id="charSel">
                        <option ng-repeat="character in characters" value="{{character}}">{{character}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="resSel">Win/Loss/Draw:</label>
                    <select class="form-control" ng-model="gameResult" id="resSel">
                        <option value="win">Win</option>
                        <option value="loss">Loss</option>
                        <option value="draw">Draw</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="srSel">Post Game SR:</label>
                    <input type="number" ng-model="gameSR" id="srSel">
                </div>
                <div class="form-group">
                    <label for="notesSel">Notes:</label>
                    <input type="text" ng-model="gameNotes" id="notesSel">
                </div>
                <div>
                    <button class="btn btn-default" ng-click="addEntry()">Add Entry</button>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-1"></div>
        </div>

         <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-1"></div>
            <div class="col-md-8 col-sm-8 col-xs-10">
                <div>
                    <button class="btn btn-default" ng-click="showGraph()" ng-show="user">Show Graph</button>
                </div>

            </div>
            <div class="col-md-2 col-sm-2 col-xs-1"></div>
        </div>
        <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-1"></div>
            <div class="col-md-8 col-sm-8 col-xs-10">
                <div>
                    <button class="btn btn-default" ng-click="showEntries()" ng-show="user">Show Entries</button>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-1"></div>
        </div>
        <div class="row" ng-show="showEntries">
            <div class="col-md-2 col-sm-2 col-xs-1"></div>
            <div class="col-md-8 col-sm-8 col-xs-10">
                <table>
                    <tr>
                        <th>
                            Date
                        </th>
                        <th>
                            Game Type
                        </th>
                        <th>
                            Map
                        </th>
                        <th>
                            Characters
                        </th>
                        <th>
                            Result
                        </th>
                        <th>
                            SR Change
                        </th>
                        <th>
                            Post Game SR
                        </th>
                        <th>
                            Notes
                        </th>
                    </tr>
                    <tr ng-repeat="entry in entries" ng-hide="$first">
                        <td>
                            {{entry.time}}
                        </td>
                        <td>
                            {{entry.type}}
                        </td>
                        <td>
                            {{entry.map}}
                        </td>
                        <td>
                            {{entry.characters}}
                        </td>
                        <td>
                            {{entry.result}}
                        </td>
                        <td>
                            {{entry.sr_change}}
                        </td>
                        <td>
                            {{entry.sr}}
                        </td>
                        <td>
                            {{entry.notes}}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-1"></div>
        </div>

    </div>

<svg width="960" height="500"></svg>
</body>
</html>